<template>
  <div class="control-container">
    <div class="title">{{ title }}</div>
    <div class="buttons">
      <button @click="minus">-</button>
      <div class="value">{{ value }}</div>
      <button @click="plus">+</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class PlusMinus extends Vue {
  @Prop() title: string | undefined;
  @Prop() plusMutation: string | undefined;
  @Prop() minusMutation: string | undefined;
  @Prop() getter: string | undefined;
  @Prop() reInit: boolean | undefined;

  plus() {
    if (this.plusMutation === undefined) {
      throw new Error('Must define plusMutation.');
    }
    this.$store.commit(this.plusMutation);
    if (this.reInit) {
      this.reInitRenderer();
    }
  }

  minus() {
    if (this.minusMutation === undefined) {
      throw new Error('Must define minusMutation.');
    }
    this.$store.commit(this.minusMutation);
    if (this.reInit) {
      this.reInitRenderer();
    }
  }

  reInitRenderer() {
    const currentRenderer = this.$store.getters.currentRenderer;
    if (currentRenderer.init) {
      currentRenderer.init();
    }
  }

  get value(): string {
    if (this.getter === undefined) {
      throw new Error('Must define getter.');
    }
    return this.$store.getters[this.getter];
  }
}
</script>

<style scoped lang="scss">
@import 'src/styles/variables';
@import 'src/styles/button';

.control-container {
  border: 1px solid #000000;
  padding: $spacing;
  margin-bottom: $spacing;

  .title {
    font-size: 14px;
  }

  .buttons {
    display: flex;
    align-items: baseline;
  }

  .value {
    padding: 0 $spacing;
  }

  button {
    @include button;
    width: 40px;
  }
}
</style>
