<template>
  <div class="render-area">
    <div class="canvas-container">

    </div>
    <div class="fps-container">
      FPS: <span class="fps"></span>
    </div>
    <div class="footer">
      By <a href="https://www.helm108.com" target="_blank">James</a>. Source code is <a href="https://gitlab.com/terrarum/metaballs" target="_blank">here</a>.
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import initLoop from '@/loop';
import sps from '@/utils/sps';

@Component
export default class Canvas extends Vue {
  mounted() {
    const fps = new sps('.fps');
    initLoop(fps);
  }
}
</script>

<style lang="scss">
@import 'src/styles/variables';

.canvas-container {
  display: flex;
  margin: 0 $spacing;

  @media screen and (max-width: 1040px) {
    justify-content: center;
  }
}

.fps-container {
  padding: 0 $spacing;

  @media screen and (max-width: 1040px) {
    justify-content: center;
  }
}

.footer {
  padding: 0 $spacing;

  @media screen and (max-width: 1040px) {
    justify-content: center;
  }
}

.canvas {
  border: 1px solid black;
}
</style>
