<template>
  <div class="controls">
    <h3>Controls</h3>
    <PlusMinus
        title="Circle Count"
        plus-mutation="addCircle"
        minus-mutation="removeCircle"
        getter="circleCount"
    />
    <PlusMinus
        title="Square Size"
        plus-mutation="increaseResolution"
        minus-mutation="decreaseResolution"
        getter="resolution"
        re-init="true"
    />
    <PlusMinus
        title="Square Render Size"
        plus-mutation="increaseSquareRenderSize"
        minus-mutation="decreaseSquareRenderSize"
        getter="squareRenderSize"
    />
    <div class="control-group">
      <button @click="colors(null)">Colours</button>
      <button @click="colors('#000000')">Black</button>
    </div>
    <div class="control-group">
      <button @click="playPause">{{ running ? 'Pause' : 'Play' }}</button>
      <button @click="tick" :disabled="running">Tick</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PlusMinus from '@/components/controls/PlusMinus.vue';

@Component({
  components: {PlusMinus}
})
export default class Controls extends Vue {
  colors(color: string) {
    this.$store.commit('setColours', color);
  }

  playPause() {
    this.$store.commit('playPause');
  }

  tick() {
    this.$store.commit('update', 1 / 30);
  }

  get running() {
    return this.$store.getters.isRunning;
  }
}
</script>

<style scoped lang="scss">
@import 'src/styles/variables';
@import 'src/styles/button';

$width: 200px;

.controls {
  width: $width;
}

.control-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing;
}
button {
  width: $width / 2 - $spacing / 2;
  padding: 5px 10px;
  @include button;
}
</style>
