<template>
  <div class="renderers">
    <h3>Renderers</h3>
    <div class="renderer-list">
      <button
          v-for="renderer of renderers"
          :class="{current: renderer.name === currentRenderer.name}"
          :key="renderer.name"
          @click="setRenderer(renderer)"
      >
        {{ renderer.name }}
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Renderer } from '@/interfaces/renderer';
import jellyblocks from '@/renderers/jellyblocks';

@Component
export default class Renderers extends Vue {
  get renderers() {
    return this.$store.getters.renderers;
  }

  get currentRenderer() {
    return this.$store.getters.currentRenderer;
  }

  setRenderer(renderer: Renderer) {
    this.$store.commit('setRenderer', renderer);
  }

  mounted() {
    this.setRenderer(jellyblocks);
  }
}
</script>

<style lang="scss" scoped>
@import 'src/styles/button';

.renderers {
  width: 200px;
}

.renderer-list {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 5px;
  @include button;

  &.current {
    background-color: cadetblue;
  }
}
</style>
