<template>
  <div id="app">
    <Renderers/>
    <Canvas/>
    <Controls/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Controls from '@/components/Controls.vue';
import Canvas from '@/components/Canvas.vue';
import Renderers from '@/components/Renderers.vue';

@Component({
  components: {
    Renderers,
    Canvas,
    Controls,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: 'verdana', sans-serif;
  margin-top: 50px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1040px) {
    flex-direction: row;
    flex-wrap: wrap;

    .renderers {
      order: 2
    }

    .render-area {
      width: 100%;
      order: 1
    }

    .controls {
      order: 3
    }
  }

}
</style>
